/* 引入默认字体 */
/*
@font-face {
  font-family: "SourceHanSansSC-Regular";
  src: url("../assets/font/SourceHanSansSC-Regular.otf");
  src: url("../assets/font/SourceHanSansSC-Regular.otf?#iefix") format('embedded-opentype');
}*/

body,
html,
#app {
  font-family: "SourceHanSansSC-Regular";
  color: white;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* @media only screen  and (max-width: 1366px){
    html,body{
        width:1366px;
        height:768px;
    }
}
@media only screen  and (min-width: 1367px) and (max-width: 1400px){
    html,body{
        width:1400px;
        height:900px;
    }
}
@media only screen  and (min-width: 1401px) and (max-width: 1920px){
    html,body{
        width:1920px;
        height:1080px;
    }
}
@media only screen  and (min-width: 1921px){
    html,body{
        width:2560px;
        height:1600px;
    }
} */
.el-pagination .btn-next,
.el-pagination .btn-prev {
  background: none;
}

.el-pager li {
  background: none;
  color: #fff;
  font-size: 18px;
}

.el-pager li.active {
  color: #fff;
  background: #0096ff;
  border-radius: 4px;
}

.el-pagination .btn-next,
.el-pagination .btn-prev {
  color: #fff;
}

.el-pager li.btn-quicknext,
.el-pager li.btn-quickprev {
  color: #fff;
}

.el-pagination {
  font-weight: 0;
}

.el-pagination__jump {
  color: #fff;
}

.el-pagination__editor.el-input .el-input__inner {
  height: 28px;
  border: 1px solid #0096ff;
  background: none;
  color: #fff;
  font-size: 18px;
}

.el-pagination button,
.el-pagination span:not([class*=suffix]) {
  font-size: 18px;
}

.el-pagination button:disabled {
  background-color: #0E1331;
}

.el-step__icon.is-text {
  width: 63px;
  height: 63px;
  background: #131939;
}

.el-step.is-horizontal .el-step__line {
  top: 31px;
}

.el-step__title.is-success {
  color: #fff;
  font-size: 20px;
}

.el-step__title.is-process {
  font-weight: normal;
  color: #fff;
  font-size: 20px;
  margin-left: 0px;
}

.el-step__icon-inner {
  font-size: 26px;
  color: #fff;
  font-weight: 0;
}

.el-step__head.is-success {
  color: #fff;
  border-color: #fff;
}

.el-step__title.is-wait {
  color: #fff;
  font-size: 20px;
}

.el-range-editor.el-input__inner {
  background: #0F1432;
  border: none;
}

.el-date-editor .el-range-input {
  color: #fff;
  background: #0F1432;
}

.el-date-editor .el-range-separator {
  color: #fff;
}

.el-input--suffix .el-input__inner {
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  border: none;
}

.el-date-editor .el-range-input {
  color: #fff;
  background: none;
  /* background: rgba(255,255,255,0.05); */
}

.el-checkbox-button__inner {
  background: none;
  border: 0px solid #dcdfe6;
  color: #fff;
}

.el-checkbox-button.is-checked .el-checkbox-button__inner {
  color: #fff;
  background-color: #1B203C !important;
  outline: 1px solid #0096ff;
  -webkit-box-shadow: 0px 0 0 0 #0096ff;
  box-shadow: 0px 0 0 0 #0096ff;
  border-radius: 4px;
}

@media only screen and (max-width: 1376px) {
  .el-input--suffix .el-input__inner {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    height: 30px;
  }

  .el-input__prefix,
  .el-input__suffix {
    top: 4px;
  }

  .el-range-editor.el-input__inner {
    background: rgba(255, 255, 255, 0.1);
    border: none;
  }

  .el-date-editor .el-range-input {
    color: #fff;
    /* background: rgba(255,255,255,0.05); */
  }

  .el-checkbox-button.is-checked .el-checkbox-button__inner {
    /* font-size: 12px; */
  }

  .el-checkbox-button:first-child .el-checkbox-button__inner {
    border-left: 0px solid #dcdfe6;
    /* font-size: 12px; */
  }

  .el-checkbox-button:last-child .el-checkbox-button__inner {
    /* font-size: 12px; */
  }
}

@media only screen and (min-width: 1411px) and (max-width: 1930px) {
  .el-step__icon.is-text {
    width: 55px;
    height: 55px;
    background: none;
    border: 1px solid #fff;
  }

  .el-step.is-horizontal .el-step__line {
    width: 85%;
    margin-left: 14%;
  }

  .el-step__title.is-success,
  .el-step__title.is-process,
  .el-step__title.is-wait {
    font-size: 16px;
    /* font-weight: 0; */
  }
}

@media only screen and (min-width: 1931px) {
  .el-range-editor.el-input__inner {
    width: 680px;
    height: 80px;
    background: rgba(255, 255, 255, 0.05);
  }

  .el-date-editor .el-range__icon {
    font-size: 30px;
    line-height: 80px;
  }

  .el-date-editor .el-range__close-icon {
    font-size: 30px;
  }

  .el-date-editor .el-range-input {
    font-size: 30px;
    width: 300px;
  }

  .el-date-editor .el-range-separator {
    font-size: 30px;
    line-height: 80px;
  }

  .el-input--suffix .el-input__inner {
    font-size: 30px;
    height: 80px;
  }

  .el-select .el-input .el-select__caret {
    font-size: 30px;
  }

  .el-date-editor .el-range-input {
    color: #fff;
    /* background: rgba(255,255,255,0.05); */
  }

  .el-checkbox-button.is-checked .el-checkbox-button__inner {
    font-size: 24px;
  }

  .el-checkbox-button:first-child .el-checkbox-button__inner {
    border-left: 0px solid #dcdfe6;
    font-size: 24px;
  }

  .el-checkbox-button:last-child .el-checkbox-button__inner {
    font-size: 24px;
  }
}
