/* @font-face {
    font-family: Sans;
    src: url("./src/assets/font/SourceHanSansSCRegular.otf");
  } */

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* 响应式：媒体查询公共样式设定 */
@media only screen  and (max-width: 1376px){
  html,body{
    width:1366px !important;
    height:768px !important;
    /*overflow: hidden;*/
  }
}
@media only screen  and (min-width: 1377px) and (max-width: 1410px){
  html,body{
    width:1400px !important;
    height:900px !important;
  }
}
@media only screen  and (min-width: 1411px) and (max-width: 1930px){
  html,body{
    width:1920px !important;
    height:1080px !important;
  }
}
@media only screen  and (min-width: 1931px) and (max-width: 2570px){
  html,body{
    width:2560px !important;
    height:1600px !important;
  }
}
@media only screen  and (min-width: 2571px) {
  html,body{
    width:100vw !important;
    height:100vh !important;
  }
}
